@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('trutype')
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F


.our-app
  font-family: 'Roboto', sans-serif

.hiddenCard
  opacity: 0

.showCard
  opacity: 1